// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$mblack: #121212;
$light-gray: #F4F4F4;
$mlightgray: #D8D8D8;
$mprimary: #C62832;
$mgray: #8D8D8D;
$mydarklight: rgb(50, 50, 50);
$mydark: rgb(20, 20, 20);
$mprimarydark: #761218;
