<div class="accordion" id="accordionExample">

  <%= render 'shared/collapse',
  tag_name: "Untagged tracks",
  count: @untagged_tracks_count,
  id: "tasoeur",
  path: show_untagged_tracks_path %>

  <% @sptags.each_with_index do |sptag, index| %>
    <%= render'shared/collapse',
    tag_name: sptag[0],
    count: sptag[1],
    id: sptag[0],
    path: sptag_showtracks_path(sptag) %>
  <% end %>

</div>

<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>
