<div class="search-empty-state">
  <i class="fas fa-headphones-alt mb-3" style="font-size: 110px;color: #eaeaea;"></i>
  <h1 style="width: 70vw" id="" class="small-title inactive-color text-center">No albums yet.</h1>
  <p class="inactive-color text-center"> If you'd like to add them go in your account's options and check "Album in my collection" and refresh the data. </p>
</div>
