
<div class="my-navbar d-flex justify-content-around">
  <div class="my-navbar-item" >
    <div class="d-flex align-items-center my-navbar-content justify-content-center">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-tag <%= "active-color" if  params[:controller] == 'pages'%>" ></i>
        <p class="<%= "active-color" if  params[:controller] == 'pages'%>">Tag</p>
      </div>
    </div>
  </div>
  <div class="my-navbar-item" >
    <div class="d-flex align-items-center my-navbar-content justify-content-center">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-home text-white"></i>
        <p>Home</p>
      </div>
    </div>
  </div>
    <div class="my-navbar-item" >
      <%= link_to playlists_path do %>
        <div class="d-flex align-items-center my-navbar-content justify-content-center">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <i class="fas fa-search text-white"></i>
            <p>Search</p>
          </div>
        </div>
      <% end %>
    </div>
</div>
