<div class="playlist-modal d-none" data-track-id="">
  <img src="https://image.flaticon.com/icons/png/512/61/61155.png" class="close-icon"></img>
  <div class="playlist-modal-details">
    <img class="playlist-modal-cover" src="">
    <h1 class="big-title text-white playlist-modal-name" style="margin-top:20px"></h1>
    <p class="playlist-modal-description d-none text-center inactive-color mx-3"></p>

    <div style="max-width: 90%" class="tags-container"></div>
  </div>

  <div class="options-container">

    <div style="height: fit-content" class="modal-option mbt" id="playlist-modal-add-tags">
      <div class="d-flex flex-column">
        <div class="d-flex">
          <i class="fas fa-tags text-mgray" style="margin-right: 20px"></i>
          <h2 class="small-title text-white">Add tag(s)</h2>
        </div>
        <p style="font-size: 14px;" class="inactive-color mb-2">Attention: tag(s) will be added to every single track belonging to this playlist</p>
      </div>
    </div>

    <a href="" target="_blank" id="playlist-modal-href">
      <div class="d-flex modal-option">
        <i class="fab fa-spotify text-mgray" style="margin-right: 20px"></i>
        <h2 class="small-title text-white mb-0">Open in Spotify</h2>
      </div>
    </a>
  </div>
</div>
