<%= link_to path do %>
  <div class="row-container">
    <div class="row-cover" style="background-image: url(<%= cover %>)"></div>
    <div class="row-details">
      <span class="row-title active-color"><%= title %></span>
      <span class="row-subtitle inactive-color"><%= subtitle %></span>
    </div>
  </div>
<% end %>
