<div class="track-modal d-none" data-track-id="">
  <img src="https://image.flaticon.com/icons/png/512/61/61155.png" class="close-icon"></img>
  <div class="track-details">
    <img class="track-cover" src="">
    <h1 class="big-title text-white track-name" style="margin-top:20px"></h1>
    <p class="track-artist"></p>

    <div class="tags-container"></div>
  </div>

  <div class="options-container">

    <a href="" class="mbt" data-remote="true" id="add-tag">
      <div class="modal-option">
        <div class="d-flex">
          <i class="fas fa-tags text-mgray" style="margin-right: 20px"></i>
          <h2 class="small-title text-white">Add tag(s)</h2>
        </div>
      </div>
    </a>

    <div class="d-flex modal-option mbt flex-column justify-content-center align-items-start" id="remove-tag">
      <div class="d-flex">
        <i class="far fa-trash-alt text-mgray" style="margin-right: 20px"></i>
        <h2 class="small-title text-white">Delete tag(s)</h2>
      </div>
    </div>
    <div class="delete-tags-container"></div>

    <a href="" target="_blank" id="tag-href">
      <div class="d-flex modal-option mbt">
        <i class="fab fa-spotify text-mgray" style="margin-right: 20px"></i>
        <h2 class="small-title text-white">Open in Spotify</h2>
      </div>
    </a>
  </div>
</div>
