<%= form_with(url: "/filter/tracks", method: "get", class: "d-flex align-items-center flex-column") do %>
  <%= text_field_tag('q', nil, placeholder: 'Search tags', autocomplete: 'off') %>
  <div>
    <% current_user.sptags.map(&:name).each do |tag_name| %>
      <span class="badge badge-pill badge-light"><%= tag_name %></span>
    <% end %>
  </div>
  <%= submit_tag("Apply", class: 'btn-submit-filter') %>
<% end %>
