<div class="container mt-2">

  <h1 class="big-title text-white mb-3 text-center mt-5" style="font-size: 40px;"><span class="text-mprimary">Track</span>land</h1>
  <h3 class="small-title text-white">Click on the button below to retrieve the tracks you have on Spotify</h3>

  <div class="d-flex flex-column justify-content-center align-items-center" id="hello-container">
      <% if current_user && current_user.valid_token? %>
    <%= link_to data_path, method: :post do  %>
      <div class="btn-full-page btn-fetch-data mt-5">
        <h1 class="mb-0 big-title">Let's go</h1>
      </div>
    <% end %>
      <h1 class="mb-0 small-title no-thanks inactive-color mt-3">No thanks</h1>
  <% end %>
  </div>
</div>
