var dropdown = document.querySelector('.my-dropdown-menu-autocomplete')

function insertTag() {
  var tag = "<%= tag %>"
  var badgeContainer = document.querySelector('.badge-container');
  var badge = `<a href="/tag/select?tag_name=${tag}" data-remote="true"><p class="my-dropdown-item-autocomplete py-1 pl-2">${tag}</p></a>`;
  badgeContainer.insertAdjacentHTML('beforeend', badge);
}

if (dropdown) insertTag();
