var id = "<%= @id %>"
var suggestions = "<%= j @suggestions %>"
var row = document.getElementById('add-tag')
var userTags = "<%= @user_tags %>"
var usedTags = "<%= @used_tags %>"
var searchbar = `
<div style=align-self: center;" class='msearch d-flex align-items-center'>
  <div class="my-dropdown-menu-autocomplete d-none"></div>
  <i class="fas fa-search"></i>
  <input
    id="input-autocomplete"
    data-user-tags="${userTags}"
    data-used-tags="${usedTags}"
    data-playlist-id=""
    autocomplete="off"
    type="textarea"
    name="tags"
    placeholder="Search tags"
    onclick="inputAutocomplete('/user_tracks/${id}/tag', true)"
  >
</div>`
var closeIcon = document.querySelector('.close-icon');

function removeTags() {
  var badgeContainer = document.querySelector('.badge-container');
  var theSearchbar = document.querySelector('.msearch')
  row.classList.remove('row-open')
  row.classList.add('mbt')
  badgeContainer.classList.remove('mbt')
  if (theSearchbar) theSearchbar.remove()
  if (badgeContainer) badgeContainer.remove();
}

function reopenRow() {
  row.classList.add('row-open')
  row.classList.remove('mbt')
  appendTags();
  row.insertAdjacentHTML('afterend', searchbar);
  listenKeyboardOnInput()
}

function manageTags() {
  if (row.classList.value.includes('row-open')) {
    removeTags();
  } else {
    reopenRow();
  }
}

function removeListener() {
  row.removeEventListener('click', manageTags)
}

function appendTags() {
  var suggestionsSerialized = row.dataset.suggestions.split('$$')
  var tags = suggestionsSerialized.map(e => `
    <form action="/user_tracks/${id}/tag" method="post" data-remote="true" id="tag-${e}">
      <input type="hidden" name="tag" id="${e}" value="${e}">
      <button type="submit" class="mtag">${e}</button>
    </form>
  `).join('')
  row.insertAdjacentHTML('afterend', `<div class="badge-container" style="margin-top: 16px">${tags}</div>`)

  var badgeContainer = document.querySelector('.badge-container');
  badgeContainer.classList.add('mbt')
}

function ntm() {
  row.classList.remove('mbt')
  closeIcon.addEventListener('click', removeListener)
  row.dataset.suggestions = suggestions
  row.classList.toggle('row-open')
  row.href = ""
  if (suggestions[0] != "") appendTags();
  row.insertAdjacentHTML('afterend', searchbar)
  listenKeyboardOnInput()
  document.getElementById('input-autocomplete').dataset.playlistId = id
  row.addEventListener('click', manageTags)
}

ntm();
