.progress {
  border-radius: 10px;
  height: 8px;
  width: 85%;
}

.trophy-points {
  margin-right: 8px;
  font-size: 20px;
  color: #aa7100;
}

.challenge-icon {
  margin-right: 8px;
  font-size: 20px;
  color: #0e562c;

}
