.my-dropdown-menu {
  position: absolute;
  width: 155px;
  top: 15px !important;
  right: 4px !important;
  background: white;
  border-radius: 3px;
  border: 1px solid $mydarklight;
  z-index: 1;
  :last-child {
    border-bottom: none !important;
  }
}

.my-dropdown-menu-autocomplete {
  position: absolute;
  width: 345px;
  top: 38px;
  left: -1px;
  background: black;
  border-radius: 0px;
  border: 1px solid white;
  z-index: 1;
  border-radius: 0 0 20px 20px;
}

.my-dropdown-item {
  width: 100px;
  color: black;
}

.my-dropdown-item-autocomplete {
  color: white;
  margin-left: 38px;
  padding: 10px 0 !important;
  border-bottom: 1px solid white;
  width: 266px;
}
