.my-dropdown-menu {
  position: absolute;
  width: 155px;
  top: 15px !important;
  right: 4px !important;
  background: white;
  border-radius: 3px;
  border: 1px solid $mydarklight;
  z-index: 1;
  :last-child {
    border-bottom: none !important;
  }
}

.my-dropdown-menu-autocomplete {
  position: absolute;
  width: inherit;
  top: 38px;
  background: $mblack;
  border-radius: 0px;
  border: 1px solid white;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  max-height: 145px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.my-dropdown-item {
  width: 100px;
  color: $mblack;
}

.my-dropdown-item-autocomplete {
  color: white;
  margin: 0 38px;
  padding: 10px 0 !important;
  border-bottom: 1px solid white;
}

.submit-item {
  background: none;
  border-top: none;border-left: none;border-right: none;
  text-align: left;
  color: white;
  width: 100%;
}
