.my-dropdown-menu {
  position: absolute;
  width: 155px;
  top: 15px !important;
  right: 4px !important;
  background: white;
  border-radius: 3px;
  border: 1px solid $mydarklight;
  z-index: 1;
}

.my-dropdown-menu-autocomplete {
  position: absolute;
  width: 194px;
  top: 246px;
  left: 18px;
  background: white;
  border-radius: 3px;
  border: 1px solid $mydarklight;
  z-index: 1;
}

.my-dropdown-item {
  width: 100px;
  color: black;
}

.my-dropdown-item-autocomplete {
  color: black;
}
