// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "my-navbar";
@import "row";
@import "home-page";
@import "dropdown";
@import "my-modal";


html, body {
  background: $mydark;
}

label {
  color: white;
}

p {
  color: white;
  margin-bottom: 0;
}

.active-color {
  color: white;
}

.inactive-color {
  color: rgb(179, 179, 179)
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 240px;
}


