// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "my-navbar";
@import "row";
@import "home-page";
@import "dropdown";
@import "my-modal";
@import "tag-index";
@import "filter-tracks";
@import "toggle-switch";
@import "error-message-options";
@import "toast";
@import "texts";
@import "tag";
@import "search";
@import "track-modal";

html, body {
  background: $mydark;
}

button {
  background: none;
}

input:focus, textarea:focus {
  outline: none;
}

label {
  color: white;
}

p {
  color: white;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.active-color {
  color: white;
}

.inactive-color {
  color: rgb(179, 179, 179)
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 240px;
}

.my-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: black;
  opacity: 0.5;
}

.accordion > .card {
  overflow: visible;
}
