
#input-search {
  margin-left: 8px;
  height: inherit;
  flex-grow: 1;
  border-radius: 40px;
  background: none;
  border: none !important;
  color: $mgray;
}

.btn-filter {
  background: rgba(255,255,255,0.18);
  padding: 4px 8px;
  min-width: 70px;
  border-radius: 4px;
  font-size: 14px;
}

.search-empty-state .fa-itunes-note {
  font-size: 110px;
  color: #eaeaea;
}

.search-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.small-row-container {
  margin: 10px 0px;
  display: flex;
  padding: 0px 16px;
  position: relative;
}

.small-row-title {
  font-size: 14px;
}

.small-row-subtitle {
  font-size: 12px;
}

.small-row-cover {
  height: 44px;
  width: 44px;
  background-size: cover;
}
