.my-navbar {
  height: 56px;
  background: $mydarklight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.my-navbar-item {
  height: 100%;
  width: inherit;
}

.my-navbar-content {
  height: 100%;
}

.mnavbar-text {
  align-self: flex-end;
}
