.my-modal {
  width: 100%;
  background: black;
  position: absolute;
  height: 93%;
  flex-direction: column;
  transition: all 0.35s ease;
  z-index: 2;
}

.badge-container {
}

#btn-submit-create-playlist {
  position: absolute;
  bottom: 60px;
}

