.my-modal {
  width: 100%;
  background: black;
  position: absolute;
  height: 93%;
  flex-direction: column;
  transition: all 0.35s ease;
  z-index: 2;
}

.badge-container {
}

#btn-submit-create-playlist {
  position: absolute;
  bottom: 30px;
}

#cpl-input-description {
  height: 120px;
}

.close-icon {
  position: absolute;
  width: 22px;
  right: 24px;
  height: 22px;
  top: 24px;
  filter: invert(58%) sepia(4%) saturate(0%) hue-rotate(236deg) brightness(95%) contrast(88%);
}

.fa-question-circle {
  color: white;
  margin-left: 8px;
  font-size: 14px;
}
