.row-container {
  margin: 2px 0px;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.row-details {
  display: flex;
  flex-direction: column;
}

.row-cover {
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background: white;
  background-size: cover;
}
