.row-container {
  margin: 4px 0px;
  display: flex;
  padding: 0px 16px;
}

.row-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row-cover {
  margin-right: 16px;
  height: 40px;
  width: 40px;
  background: white;
  background-size: cover;
  margin-top: 15px;
}
