.mtag {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 15px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 0.1s ease;
}

.tag-inactive {
  color: $mgray;
  border: 1px solid $mgray;
}

.tag-active {
  color: $mprimary;
  border: 1px solid $mprimary;
}
