.big-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.small-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.text-mprimary {
  color: $mprimary;
}

.text-mgray {
  color: $mgray;
}

.mcontainer {
  margin: 0 18px;
}

.text-p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.small-icon {
  width: 19px;
  height: 19px;
}

.invert-color {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.primary-btn {
  background: $mprimary;
  width: 90%;
  color: white;
  border-radius: 20px;
  height: 44px;
  border: none !important;
  transition: all 0.2s ease;
}

.secondary-btn {
  background: $mgray;
  width: 90%;
  color: $mlightgray;
  border-radius: 20px;
  height: 44px;
  border: none !important;
  transition: all 0.2s ease;
}

.btn-fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.p-label {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.m-input {
  background: black;
  color: $mgray;
  border: 1px solid $mgray;
  border-radius: 0 30px 30px 30px;
  padding-left: 8px;
  transition: all 0.1s ease;
}
