.tpl_cover {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.trackland-playlists-details {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.trackland-playlists {
  overflow: scroll;
  padding-bottom: 16px;
}
