<div class="container after-create-container">

  <a href="<%= @playlist_url %>" target="_blank">
    <i class="fab fa-spotify huge-icon"></i>
  </a>

  <a href="<%= @playlist_url %>" target="_blank" class="text-white big-title mt-2">Open in Spotify</a>

  <%= link_to 'Go back to home', root_path, class: "inactive-color small-title mt-3" %>

</div>
