<section id="my-playlists">

  <% @playlists.each do |playlist| %>
    <%= render 'shared/playlist-row',
      title: playlist.name,
      subtitle: "#{playlist.user_playlist_tracks.count} tracks",
      cover: playlist.cover_url,
      path: playlist_path(playlist),
      id: playlist.id,
      actual: playlist.user_tracks.select(&:is_tag).count,
      max: playlist.user_playlist_tracks.count
     %>
  <% end %>

</section>


<%= render 'shared/playlist-modal' %>
<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>
