<% @tracks.each do |track| %>

  <%= render 'shared/row',
    title: track.name,
    subtitle: "#{track.artist}",
    cover: track.cover_url,
    path: track.external_url,
    tag_list: track.tag_list,
    track_id: track.id
  %>
<% end %>
<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>
