<div id="bulk-tag" class="primary-btn btn-fixed d-none" style="z-index: 100"></div>

<% @user_tracks.each do |user_track| %>
  <% track = user_track.track %>
  <%= render 'shared/row',
    title: track.name,
    subtitle: "#{track.artist}",
    cover: track.cover_url,
    path: track.external_url,
    tag_list: user_track.tags.map(&:name),
    user_track_id: user_track.id
  %>
<% end %>

<%= render 'shared/track-modal' %>
<%= render 'shared/bulk-tag-modal',
  tags: @modal_tags,
  user_tags: @user_tags,
  used_tags: @used_tags %>

<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>

