<% @tracks.each do |track| %>

  <%= render 'shared/row',
    title: track.name,
    subtitle: "#{track.artist}",
    cover: track.cover_url,
    path: track.external_url,
    tag_list: track.tag_list,
    track_id: ("a".."z").to_a.sample(10).join
  %>
<% end %>

<div class="my-modal" >
  <div class="badge-container"></div>
  <input
    id ="input-autocomplete"
    data-list-tags="<%= @user_tags %>"
    type="textarea">
</div>
