var tags = "<%= @tags %>".split('$$')
var spotifyUris = "<%= @uris %>";
var untaggedTracks = "<%= @untagged_tracks %>"
var tracksString = "<%= @tracks %>"
var badgesName = tags.slice(0, tags.length - 1);
var badgesElement = Array.from(document.querySelectorAll('.badge-filter'));
var trackCards = ""
var tracks = tracksString.split('$$').map(e => e.split('**'))
var container = document.querySelector('.container')
var hiddenInputTracks = document.getElementById('hidden-input-tracks');
var hiddenInputName = document.getElementById('hidden-input-name');
var inputName = document.getElementById('cpl-input-name');
var inputDescription = document.getElementById('cpl-input-description');
var createPlaylistBtn = document.getElementById('open-create-playlist');
var playlistSection = document.getElementById('my-playlists');

function fillInputsWithFilter() {
  hiddenInputTracks.value = spotifyUris
  hiddenInputName.value = badgesName.join('$$')
  inputName.value = badgesName.join(', ')
  inputDescription.value = `Playlist generated from Trackland the ${today()} with the following tags: ${badgesName.join(', ')}`
}

function appendTracks() {
  createPlaylistBtn.classList.remove('d-none');

  var btn = document.querySelector('.primary-btn.btn-fixed');
  alignFixedBtn(btn)

  const sectionHeader = `
    <div style="padding: 0 16px">
      <h3 class="active-color m-0">${tracks.length} tracks</h3>
    </div>`

  trackCards += sectionHeader
  tracks.forEach(track => { trackCards += trackCard(track) })

  container.insertAdjacentHTML('afterend', `<section class="mt-3" style="padding: 0 16px;"id="filtered-tracks">${trackCards}</section>`)
  positionModal();

  fillInputsWithFilter();
  listenCreatePlaylistModal();
}

function cleanZone() {
  const emptyState = document.getElementById('empty-state');
  const trackCards = document.getElementById('filtered-tracks');

  if (emptyState) emptyState.remove();
  if (trackCards) trackCards.remove();
  if (playlistSection) playlistSection.remove();
}

function appendEmptyState() {
  const emptyState = emptyStateHTML(
    'No track found',
    `You have ${untaggedTracks} untagged tracks, maybe it's time tag them...`,
     "Let's go 🚀",
      "")
  container.insertAdjacentHTML('afterend', emptyState)
}

cleanZone();

tracksString == "" ? appendEmptyState() : appendTracks()
